extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet congue metus, in laoreet sapien. Duis a lorem venenatis, dapibus lacus a, consequat tellus. Morbi sodales malesuada sapien at consequat. Aenean ut urna vitae ex vulputate pharetra. Cras posuere velit eget mattis molestie. Duis vulputate turpis augue, nec pretium nulla semper et. Donec sed interdum nulla. Nullam consequat tempus lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut et venenatis felis, in

                p Praesent elit velit, viverra vitae dui efficitur, sodales accumsan quam. Sed at urna quam. Nam non fringilla urna. Pellentesque non lectus auctor, tristique tortor a, convallis enim. Integer lobortis commodo elit, eu ullamcorper mi scelerisque sit amet. Proin consequat orci risus, ut tristique nisl malesuada sit amet. Nulla in pretium leo, vel lobortis ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed odio vel neque tempus dapibus interdum eget est.

                p Nam aliquet commodo nisi, sed dictum velit euismod sit amet. Morbi commodo diam nibh. Maecenas semper nisl in tortor imperdiet, sed tempus risus ullamcorper. Proin nec dui ornare, ultricies urna hendrerit, maximus ligula. Ut vel arcu sed mauris hendrerit egestas. Proin cursus dolor sed erat cursus, sed congue mi egestas. Aliquam ut elit in tortor euismod imperdiet. Cras finibus tempor urna, id fringilla metus euismod in. Morbi vehicula est justo, tristique elementum velit m
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p finibus tempor urna, id fringilla metus euismod in. Morbi vehicula est justo, tristique elementum velit m

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p finibus tempor urna, id fringilla metus euismod in. Morbi vehicula est justo, tristique elementum velit m
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p finibus tempor urna, id fringilla metus euismod in. Morbi vehicula est justo, tristique elementum velit m